﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Dotimatrix 5";src:url("dotim5__.eot?") format("eot"),url("dotim5__.woff") format("woff"),url("dotim5__.ttf") format("truetype"),url("dotim5__.svg#Dotimatrix5") format("svg");font-weight:normal;font-style:normal;}
