﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"FS Blok Regular";src:url("fs_blok.eot?") format("eot"),url("fs_blok.woff") format("woff"),url("fs_blok.ttf") format("truetype"),url("fs_blok.svg#FS-Blok") format("svg");font-weight:normal;font-style:normal;}
