﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"dotty Regular";src:url("dotty.eot?") format("eot"),url("dotty.woff") format("woff"),url("dotty.ttf") format("truetype"),url("dotty.svg#Dotty") format("svg");font-weight:normal;font-style:normal;}
