﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Dotline Heavy";src:url("DOTLH___.eot?") format("eot"),url("DOTLH___.woff") format("woff"),url("DOTLH___.ttf") format("truetype"),url("DOTLH___.svg#DotlineHeavy") format("svg");font-weight:normal;font-style:normal;}
