﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Dotza Regular";src:url("dotza.eot?") format("eot"),url("dotza.woff") format("woff"),url("dotza.ttf") format("truetype"),url("dotza.svg#Dotza") format("svg");font-weight:normal;font-style:normal;}
