﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"FS Blok SC Regular";src:url("fs_blok_sc.eot?") format("eot"),url("fs_blok_sc.woff") format("woff"),url("fs_blok_sc.ttf") format("truetype"),url("fs_blok_sc.svg#FS-Blok-SC") format("svg");font-weight:normal;font-style:normal;}
