﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Dotimatrix 7";src:url("dotim7__.eot?") format("eot"),url("dotim7__.woff") format("woff"),url("dotim7__.ttf") format("truetype"),url("dotim7__.svg#Dotimatrix7") format("svg");font-weight:normal;font-style:normal;}
