﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"1979 Dot Matrix Regular";src:url("1979_dot_matrix.eot?") format("eot"),url("1979_dot_matrix.woff") format("woff"),url("1979_dot_matrix.ttf") format("truetype"),url("1979_dot_matrix.svg#1979-Dot-Matrix") format("svg");font-weight:normal;font-style:normal;}
