﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Dot Matrix";src:url("DOTMATRI.eot?") format("eot"),url("DOTMATRI.woff") format("woff"),url("DOTMATRI.ttf") format("truetype"),url("DOTMATRI.svg#DotMatrix") format("svg");font-weight:normal;font-style:normal;}
