﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"High Scores Regular";src:url("high_scores.eot?") format("eot"),url("high_scores.woff") format("woff"),url("high_scores.ttf") format("truetype"),url("high_scores.svg#High-Scores") format("svg");font-weight:normal;font-style:normal;}
