﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Dot Matrix Bold";src:url("DOTMBold.eot?") format("eot"),url("DOTMBold.woff") format("woff"),url("DOTMBold.ttf") format("truetype"),url("DOTMBold.svg#DotMatrixBold") format("svg");font-weight:normal;font-style:normal;}
